.resume {
    margin: 0;
    border: 5px solid rgb(104, 24, 143);
    background-image: url("../images/Logo_Lemon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: rgba(255, 195, 195, 0.5);
}
header {
    padding: 10px;
    background-color: rgb(104, 24, 143);

    h1 { 
        color: wheat;
    }
    h2 {
        color: rgb(200, 200, 200);
    }
    p {
        color: white;
    }
}
.content-wrapper {
    padding: 20px;
}
footer {
    background-color: rgb(104, 24, 143);
    padding-top: 10px;
    padding-bottom: 10px;

    h2 {
        text-align: center;
        font-style: italic;
        color: white;
    }
    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
}
